
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    align-items: center;
}
#container {
    display: flex;
    justify-content: center;
    height: 960px;
    width: 960px;
    margin-top: 20px;
    border: 0;
    
}

[id^="column-"] {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 50px;
    border: 0;
    margin: 0;
}

#row {
   flex: 1;
    background-color: rgb(233, 229, 229);
    height: 50px;   
  
}

button {
    display: flex;
    height: 40px;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 82, 156);
    border-radius: 10%;
    color: whitesmoke;
}