
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    align-items: center;
}
#container {
    display: flex;
    justify-content: center;
    gap: 1px;
    height: 95vh;
    width: 95vw;
    margin-top: 20px;
    border: 0;
    
}

[id^="column-"] {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1px;
    width: 50px;
    border: 0;
    margin: 0;
}

#row {
   flex: 1;
    background-color: blueviolet;
    height: 50px;   
    transition-duration: 0.1s;
  
}
/* #row:hover {
    background-color: black;
} */

button {
    display: flex;
    height: 40px;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 82, 156);
    border-radius: 10%;
    color: whitesmoke;
}