
body {
    display: flex;
    justify-content: center;
    margin: 0;
}
#container {
    display: flex;
    justify-content: center;
    gap: 1px;
    height: 95vh;
    width: 95vw;
}

[id^="column-"] {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1px;
    width: 50px;
}

#row {
   flex: 1;
    background-color: blueviolet;
    height: 50px;
    
}